<div class="featurette rounded-featurette" id="contact">
  <%= image_tag asset_path('qrplanet.png'), class:"featurette-image img-rectangle img-responsive pull-left" %>
  <h2 class="featurette-heading">Su consulta no molesta
      <small class="text-muted"><a href="#" data-toggle="modal" data-target="#contactModal">Contáctenos</a></small>
  </h2>
  <p class="lead">Las consultas son atendidas por un equipo de trabajo que se ocupa de proveer un óptimo asesoramiento, que se adapta a los gustos, intereses y presupuesto de los viajeros.</p>
  <p class="lead">Puede tomar una foto al código QR para enviar un mail personalizado a nuestro equipo o simplemente hacer click en <a data-toggle="modal" data-target="#contactModal">Contactenos</a> para acceder a nuestro formulario</p>

</div>