<div class="featurette rounded-featurette" id="services">
  <%= image_tag asset_path('servicios.jpg'), class:"featurette-image img-circle img-responsive pull-left" %>
  <h2 class="featurette-heading">Nené Peñaranda
      <small class="text-muted">Grupo Costa Rosario</small>
  </h2>
  <p class="lead">Nené Peñaranda, empresa de viajes y turismo con licencia otorgada por el <strong>Ministerio de Turismo de Argentina N° 12616</strong>, es Agente General Exclusivo para la región sur de la provincia de Santa Fe y norte de la provincia de Buenos Aires, de la compañia <strong>Costa Cruceros</strong>.</p>
  <p class="lead">
  Esta exclusividad la convierte en el sitio especializado para la comercialización de productos de la compañía. Cuenta con un servicio personalizado a cargo de profesionales con una importante formación en la especificidad de las "vacaciones en cruceros".
  </p>
</div>