<div class="featurette rounded-featurette" id="about">
  <%= image_tag asset_path('nenep-map.png'), class:"featurette-image img-circle img-responsive pull-right" %>
  <h2 class="featurette-heading">Nuestros servicios</br>
      <small class="text-muted">Con más de 20 años trabajando en Rosario</small>
  </h2>
  <p class="lead">
  Además de los itinerarios marítimos, otras alternativas para viajar están disponibles : servicios aéreos y terrestres en Brasil, Chile y todos los destinos de Argentina como la pousada La Boheme de Buzios, Cataratas del Iguazú, Bariloche, Calafate, NOA argentino, entre otros.
  </p>
</div>