<div id="staticFooter" class="row footer-row">
  <div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading static center">
      <address align="center">
        <strong>Nené Peñaranda ™</strong>
        Mitre 907, 7º A
        Rosario, Santa Fe, Argentina
        <abbr title="Phone">Tel:</abbr> (0341) 421-6535
      </address>
    </div>
  </div>
  </div>
</div>

