 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item peopleCarouselImg active">
      <img class="peopleCarouselImg" src="banner2.jpg" alt="...">
      <div class="carousel-caption">
        <p class="top">Costa Cruceros - Nuestra especialidad</p>
        <p>Como <a href="">Agente Exclusivo de Costa Cruceros</a>, ofrecemos los mejores paquetes y destinos al mejor precio de Rosario.</p>
      </div>
    </div>
    <div class="item peopleCarouselImg">
      <img class="peopleCarouselImg" src="banner_deo.jpg" alt="Consulte promociones x grupos">
      <div class="carousel-caption">
        <p class="top"align="center"><a href="http://www.deotravel.com.ar/" target="_blank">Recorra Argentina con Deo Travel</a></p>
        <p>Cataratas del Iguazú, Bariloche, Calafate, NOA argentino y <a href="#" data-toggle="modal" data-target="#contactModal">mucho mas</a></p>
      </div>
    </div>
    <div class="item peopleCarouselImg">
      <a href="https://www.facebook.com/LaBoheme.Hotel.ApartHotel" target="_blank">
        <img class="peopleCarouselImg" src="banner_boheme3.jpg" alt="...">
        <div class="carousel-caption">
          <p class="top">Playas brasileñas: La Boheme, Buzios</p>
          <p><a href="#" data-toggle="modal" data-target="#contactModal">Consulte</a> por más destinos internacionales</p>
        </div>
      </a>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> 
