<div align="left" class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title" id="contactModalLabel">Su consulta sera respondida por un operador a la brevedad</h4>
      </div>
      <div class="modal-body">
        <form id="contactForm" role="form">
          <div class="row">
            <div class="col-md-5">
              <div id="name-container" class="form-group">
                <label for="name" class="control-label">Nombre y apellido:</label>
                <input type="text" class="form-control" name="contact[name]" id="name" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div id="travelDestiny-container" class="form-group" >
                <label for="travelDestiny" class="control-label">Destino de su interés:</label>
                <input type="text" class="form-control" name="contact[travelDestiny]" id="travelDestiny">
              </div>
            </div>
            <div class="col-md-5">
              <div id="travelDate-container" class="form-group" >
                <label for="travelDate" class="control-label">Fecha estimada de su viaje:</label>
                <input type="date" class="form-control" name="contact[travelDate]" id="travelDate">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div id="phone-container" class="form-group">
                <label for="phone" class="control-label">Teléfono:</label>
                <input type="text" class="form-control" name="contact[phone]" id="phone" required>
              </div>
            </div>
            <div class="col-md-6">
              <div id="email-container"  class="form-group">
                <label for="email" class="control-label">Email:</label>
                <input type="text" class="form-control" name="contact[email]" id="email" required>
              </div>
            </div>
          </div>
          
          
          <div id="text-container" class="form-group">
            <label for="text" class="control-label">Consulta:</label>
            <textarea class="form-control" rows="10" name="contact[text]" id="text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          Enviar
        </button>
      </div>
    </div>
  </div>
</div>

<div align="left" class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title" id="contactModalLabel">
          Consulta enviada con éxito!&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok" ></span>
        </h4>
      </div>
      <div class="modal-body">
        <p>Gracias por confiar en nosotros, tu consulta será procesada y nos comunicaremos a la brevedad para brindarle más información y orientarlo para brindarle el servicio que mejor se adapte a su necesidad.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

